.title-404 {
  position: relative;
  line-height: 260px;
  z-index: 1;
  font-size: 200px;
  font-weight: bold;
  color: #e84855;
}
.fl-page-footer-container.container {
  padding: 1rem 0;
}
.fl-page-footer-container.container .fl-page-footer-row .fl-page-footer-text,
.fl-page-footer-container.container .fl-page-footer-row .fl-page-footer-api {
  padding: 0.3rem 0;
}
.fl-page-footer-container.container .fl-page-footer-row .fl-page-footer-text a:hover,
.fl-page-footer-container.container .fl-page-footer-row .fl-page-footer-api a:hover {
  color: red !important;
  text-decoration: none !important;
}
.fl-page-footer-wrap{
  overflow: hidden;
}
.fl-page-footer-container.container{
  overflow: hidden;
}
@media (max-width: 480px) {
  .title-404 {
    line-height: 180px;
    font-size: 120px;
  }
}